<div id="css_contentGroup" class="form-group">
	<label for="css_content" class="col-md-2 control-label">#managerMessage('content')</label>
	<div class="col-md-10">
		<textarea id="css_content" class="form-control editor"></textarea>
		<label for="css_content" id="css_contentError" class="control-label"></label>
	</div>
</div>
