<div id="connection_nameGroup" class="form-group">
	<label for="connection_name" class="col-md-2 control-label">#managerMessage('name')</label>
	<div class="col-md-4">
		<input type="text" id="connection_name" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="connection_name" id="connection_nameError" class="control-label"></label>
	</div>
</div>
