<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="#springUrl('/resources/favicon.ico')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('bootstrap_min')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('font_awesome_min')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('yamabuki')" />
<title>New connection</title>
</head>
<body>
<script type="text/javascript" src="#commonJs('lib/jquery_min')" ></script>
<script type="text/javascript" src="#commonJs('lib/bootstrap_min')" ></script>
<script type="text/javascript" src="#commonJs('lib/underscore')" ></script>
<script type="text/javascript" src="#commonJs('lib/backbone')" ></script>
<script type="text/javascript" src="#commonJs('yamabuki/yamabuki')" ></script>
<script type="text/javascript" src="#commonJs('yamabuki/connection/core')" ></script>
<script type="text/javascript" src="#commonJs('yamabuki/connection/add')" ></script>
<script type="text/javascript">
//<![CDATA[
$(function() {
	yamabuki.connection.add.initialize();

	yamabuki.connection.Connection.setMessage({
		name_notEmpty : "#managerMessage('name_notEmpty')",
		driver_notEmpty : "#managerMessage('driver_notEmpty')",
		url_notEmpty : "#managerMessage('url_notEmpty')",
		password_notMatch : "#managerMessage('password_notMatch')",
	});

	var connection = new yamabuki.connection.Connection({
		urlRoot : "${MANAGER_SERVICE_PATH}/connection",
		id : null
	});

	var addButton1 = new yamabuki.connection.add.AddButton1({
		model : connection,
		successFunction : redirectList
	});
	var addButton2 = new yamabuki.connection.add.AddButton2({model : connection});
	var testButton = new yamabuki.connection.add.TestButton({
		testUrl : "${MANAGER_SERVICE_PATH}/connection/test",
		successFunction : connectionSuccess,
		failureFunction : connectionFailure,
		model : connection
	});
});

function connectionSuccess() {
	yamabuki.ajax.resetError();
	yamabuki.ajax.setSuccess("OK");
}

function connectionFailure(jqXHR, textStatus, errorThrown) {
	yamabuki.ajax.defaultFailureFunction(jqXHR, textStatus, errorThrown);
	yamabuki.ajax.resetSuccess();
}

function redirectList() {
	location.href = "${MANAGER_VIEW_PATH}/connection/list";
}
//]]>
</script>
<div class="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		#parse("manager/view/_/top_nav.vm")
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			#parse("manager/view/_/user_nav.vm")
			#parse("manager/view/_/side_nav.vm")
		</div>
	</nav>
	<div id="app" class="page-wrapper">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="${MANAGER_VIEW_PATH}/connection/list">#managerMessage('connections')</a></li>
					<li>#managerMessage('newConnection')</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-horizontal">
					#parse("manager/view/connection/_name.vm")
					#parse("manager/view/connection/_driver.vm")
					#parse("manager/view/connection/_url.vm")
					#parse("manager/view/connection/_username.vm")
					#parse("manager/view/connection/_password.vm")
					#parse("manager/view/_/add_test_buttons.vm")
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				#parse("manager/view/_/message.vm")
			</div>
		</div>
	</div>
</div>
</body>
</html>
