<div id="emailGroup" class="form-group">
	<label for="email" class="col-md-2 control-label">email</label>
	<div class="col-md-10">
		<input type="text" id="email" class="form-control" value="" />
		<label for="email" id="emailError" class="control-label"></label>
	</div>
</div>
