<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="#springUrl('/resources/favicon.ico')" />
<link media="all" rel="stylesheet" type="text/css" href="#springUrl('/resources/css/bootstrap.min.css')" />
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript" src="#springUrl('/resources/js/jquery.min.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/bootstrap.min.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/underscore.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/backbone.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki.js')" ></script>
<script type="text/javascript">
//<![CDATA[
$(function() {
	#parse("sample/sample_2/users/view/common_model.vm")

	var AddButton = Backbone.View.extend({
		el : $("#addButton"),
		model : Address,
		initialize : function(options) {
			this.model = options.model;
		},
		events : {
			"click" : "click"
		},
		click : function(e) {
			this.model.set({
				"name" : $("#name").val(),
				"email" : $("#email").val(),
				"mode" : "add"
			});
			this.model.save(null, {
				success: redirectList,
				error : showError
			});
		}
	});

	Address.setMessage({
		name_notEmpty : "名前が空欄です。",
		email_notEmpty : "emailが空欄です。"
	});
	var address = new Address({
		id : null
	});
	address.urlRoot = "${USERS_SERVICE_PATH}/model/address";

	var addButton = new AddButton({model : address});
});

function redirectList() {
	location.href = "${USERS_VIEW_PATH}/list";
}
//]]>
</script>
<div class="container">
	<ol class="breadcrumb">
		<li><a href="${USERS_VIEW_PATH}/list">Addresses</a></li>
		<li>新しいアドレス</li>
	</ol>
	<div class="form-horizontal">
		#parse("sample/sample_2/users/view/common_form_name.vm")
		#parse("sample/sample_2/users/view/common_form_email.vm")
		<div class="form-group">
			<div class="col-md-offset-2 col-md-4">
				<button id="addButton" class="btn btn-default">作成</button>
			</div>
		</div>
	</div>
	<div id="errorMessage"></div>
</div>
</body>
</html>
