<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="#springUrl('/resources/favicon.ico')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('bootstrap_min')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('font_awesome_min')" />
<link media="all" rel="stylesheet" type="text/css" href="#commonCss('yamabuki')" />
<title>${PLUGIN_NAME}</title>
</head>
<body>
<script type="text/javascript" src="#commonJs('lib/jquery_min')" ></script>
<script type="text/javascript" src="#commonJs('lib/bootstrap_min')" ></script>
<script type="text/javascript" src="#commonJs('lib/underscore')" ></script>
<script type="text/javascript" src="#commonJs('lib/backbone')" ></script>
<script type="text/javascript" src="#commonJs('yamabuki/yamabuki')" ></script>
<script type="text/javascript" src="#commonJs('yamabuki/plugin/core')" ></script>
#parse("plugin/${PLUGIN_NAME}/${VIEW_PATH}_1.vm")
</script>
#parse("manager/view/_/pagination_template.vm")
<div class="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		#parse("manager/view/_/top_nav.vm")
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			#parse("manager/view/_/user_nav.vm")
			#parse("manager/view/_/side_nav.vm")
		</div>
	</nav>
	<div id="app" class="page-wrapper">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="${MANAGER_VIEW_PATH}/plugin/list">#managerMessage('plugins')</a></li>
					<li>${PLUGIN_NAME}</li>
				</ol>
			</div>
		</div>
		#parse("plugin/${PLUGIN_NAME}/${VIEW_PATH}_2.vm")
		<div class="row">
			<div class="col-md-12">
				#parse("manager/view/_/message.vm")
			</div>
		</div>
	</div>
</div>
</body>
</html>
