<div id="app_appNameGroup" class="form-group">
	<label for="app_appName" class="col-md-2 control-label">#managerMessage('appName')</label>
	<div class="col-md-4">
		<input type="text" id="app_appName" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="app_appName" id="app_appNameError" class="control-label"></label>
	</div>
</div>
