html {
height: 100%;
}
 
body {
height: 100%;
}
 
div#wrapper {
position: relative;
min-height: 100%;
}
 
.navbar {
height: 70px;
}
 
.navbar-inner {
border: 0px;
border-radius: 0px;
box-shadow: none;
}
 
.container {
margin-left: 10px;
}
 
#sidebar {
margin-left: 0px;
position: absolute;
top: 70px;
bottom: 0px;
min-height: 100%;
}
 
#sidebar > .nav > .nav-menu > a {
border: 0px;
border-radius: 0px;
padding: 20px;
}
.bs-sidebar .nav .nav > li > a {
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
}
 
.bs-sidebar .nav > li > a {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#main {
float: right;
}