button {
	/*left: auto;*/
}

body {
	font-size: 14px;
	margin: 0px;
	padding-top: 60px;
	box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.3);
}

body.container
{
	background: #DDDDDD;
	word-break: break-all;
	padding-bottom: 10px;
}

.container {
/*margin-left: 10px;*/

	padding: 10px;
	box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.3);
}

.bs-sidebar .nav .nav > li > a {
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.bs-sidebar .nav > li > a {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
textarea.editor
{
	height: 300px;
}

#tabs
{
	padding-left: 30px;
}
#menu
{
	height: 40px;
}

.recordAdd
{
	width: 400px;
}
.recordAdd .nameColumn
{
	width: 100px;
}
.menuLink
{
	height: 40px;
}

#currentMonth
{
	margin: 0 auto;
	width:100%;
	text-align:center;
}

.recordAdd .valueColumn
{
	width: 200px;
}

.commentInput
{
	width: 400px;
}

.recordAdd .errorColumn
{
	width: 100px;
}

textarea
{
	width: 100%;
}

.pagination-centered
{
	text-align:center
}
.bs-sidebar .nav > .active > ul {
		display: block;
		margin-bottom: 8px;
}
/*
.row
{
	border: 1px solid #DDDDDD;
}
#parameterGroup0
{
	border: 1px solid #DDDD00;
}
.col-md-2
{
	border: 1px solid #00DD00;
}
.col-md-4
{
	border: 1px solid #DD0000;
}
.col-md-10
{
	border: 1px solid #0000DD;
}
*/
.messageListCode
{
	width: 400px;
}
.messageListLocleId
{
	width: 120px;
}
.messageListMessage
{
	width: 400px;
}

.templateListName
{
	width: 200px;
}

.templateListDescription
{
	width: 400px;
}
