
.container {
}

.bs-sidebar .nav .nav > li > a {
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.bs-sidebar .nav > li > a {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}
textarea.editor
{
	height: 300px;
}

#tabs
{
	padding-left: 30px;
}
#menu
{
	height: 40px;
}

.recordAdd
{
	width: 400px;
}
.recordAdd .nameColumn
{
	width: 100px;
}
.menuLink
{
	height: 40px;
}

#currentMonth
{
	margin: 0 auto;
	width:100%;
	text-align:center;
}

.recordAdd .valueColumn
{
	width: 200px;
}

.commentInput
{
	width: 400px;
}

.recordAdd .errorColumn
{
	width: 100px;
}

textarea
{
	width: 100%;
}

.pagination-centered
{
	text-align:center
}
.bs-sidebar .nav > .active > ul {
		display: block;
		margin-bottom: 8px;
}
/*
.row
{
	border: 1px solid #DDDDDD;
}
#parameterGroup0
{
	border: 1px solid #DDDD00;
}
.col-md-2
{
	border: 1px solid #00DD00;
}
.col-md-4
{
	border: 1px solid #DD0000;
}
.col-md-10
{
	border: 1px solid #0000DD;
}
*/
.messageListCode
{
	width: 400px;
}
.messageListLocleId
{
	width: 120px;
}
.messageListMessage
{
	width: 400px;
}

.templateListName
{
	width: 200px;
}

.templateListDescription
{
	width: 400px;
}

/*
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0.
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */

body {
	margin-top: 50px;
}

.wrapper {
	padding-left: 0;
}

.page-wrapper {
	width: 100%;
	padding: 5px 15px;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
	display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
	float: left;
	margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
	font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
	font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
	font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
	font-size: 50px;
	margin: 0;
}

.announcement-text {
	margin: 0;
}

/* Table Headers */

table.tablesorter thead {
	cursor: pointer;
}

table.tablesorter thead tr th:hover {
	background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

	/* Wrappers */

	.wrapper {
		padding-left: 225px;
	}

	.wrapper0 {
		padding-left: 0x;
	}

	.page-wrapper {
	padding: 15px 25px;
	}

	/* Side Nav */

	.side-nav {
	margin-left: -225px;
	left: 225px;
	width: 225px;
	position: fixed;
	top: 51px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #DDDDDD;
	}

	/* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

	.side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 225px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	}

	.side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
	}
	.navbar-inverse .navbar-nav>.open>a {
		background-color:#DDDDDD;
	}
	.navbar-inverse .navbar-nav>a:hover,
	.navbar-inverse .navbar-nav>a:focus {
		background-color:#770077;
	}
	.navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
		background-color:#770077;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a:hover{
		background-color:#770077;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		background-color:#770077;
	}

	a {
		text-decoration: none;
	}
	.side-nav>li.dropdown>ul.dropdown-menu>li>a,
	.side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
	.side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #999;
	background-color: #DDDDDD;
	}
	.navbar-inverse .navbar-nav>.open>a,
	.navbar-inverse .navbar-nav>.open>a:hover,
	.navbar-inverse .navbar-nav>.open>a:focus {
		color :#999;
	}
	.side-nav>li>a {
	width: 225px;
	}

	/*.navbar-inverse .navbar-nav>li>a:hover,*/
	.navbar-inverse .navbar-nav>li>a:focus {
	background-color: #DDDDDD;
	}

	/* Nav Messages */

	.messages-dropdown .dropdown-menu {
	min-width: 300px;
	}

	.messages-dropdown .dropdown-menu li a {
	white-space: normal;
	}

	.navbar-collapse {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

}
