<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="#springUrl('/resources/favicon.ico')" />
<link media="all" rel="stylesheet" type="text/css" href="#springUrl('/resources/css/bootstrap.min.css')" />
<link media="all" rel="stylesheet" type="text/css" href="#springUrl('/resources/css/yamabuki.css')" />
<title>Insert title here</title>
</head>
<body>
<script type="text/javascript" src="#springUrl('/resources/js/lib/jquery.min.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/lib/bootstrap.min.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/lib/underscore.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/lib/backbone.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki/yamabuki.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki/_/list.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki/_/pagination.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki/view/core.js')" ></script>
<script type="text/javascript" src="#springUrl('/resources/js/yamabuki/view/list.js')" ></script>
<script type="text/javascript">
//<![CDATA[
$(function() {
	if (typeof sessionStorage !== 'undefined') {
	}
	else {
		window.alert("本ブラウザではWeb Storageが使えません");
	}

	var storage = sessionStorage;

	var viewList = new yamabuki.view.ViewList({
		url : "${USERS_SERVICE_PATH}/view/list"
	});

	yamabuki._.list.initialize();
	yamabuki._.list.ListView.setTemplate("#viewTemplate");
	yamabuki._.pagination.PaginationView.setTemplate("#paginationTemplate")

	var appView = new yamabuki._.list.AppView({
		key : "${USERS_VIEW_PATH}/view",
		storage : storage,
		countUrl : "${USERS_SERVICE_PATH}/view/count",
		list : viewList,
		getDataFromView : getDataFromView,
		setDataFromStorageToView : setDataFromStorageToView,
		setDataToStorage : setDataToStorage,
		addView : addView,
	});
});

function addView(model) {
	var view = new yamabuki._.list.ListView({model : model});
	$("#tableBody").append(view.render().el);
}

function getDataFromView() {
	return {
		name : $("#name").val(),
	};
}

function setDataFromStorageToView(storage) {
	var list = ["name"];
	for (var i = 0; i < list.length; i++) {
		var key = createKey(list[i]);
		if (storage.getItem(key) != null) {
			$("#" + list[i]).val(storage.getItem(key));
		}
	}
}

function setDataToStorage(storage, data) {
	var list = ["name"];
	for (var i = 0; i < list.length; i++) {
		storage.setItem(createKey(list[i]), data[list[i]]);
	}
}

function createKey(id) {
	return "${USERS_VIEW_PATH}/view." + id;
}
//]]>
</script>
<script type="text/template" id="viewTemplate">
	<td><a href="${USERS_VIEW_PATH}/<%= name %>"><%= name %></a></td>
</script>
#parse("manager/view/_/pagination_template.vm")
<div id="app" class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li>#managerMessage('views')</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline" role="form">
				<div class="form-group">
					<label class="sr-only" for="name">#managerMessage('name')</label>
					<input type="text" class="form-control" id="name" placeholder="#managerMessage('name')">
				</div>
				<button id="findButton" class="btn btn-default findButton">Find</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>#managerMessage('name')</th>
					</tr>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>
			<div class="pagination-centered">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 has-error">
			<div id="errorMessage" class="control-label"></div>
		</div>
	</div>
</div>
</body>
</html>