<div id="view_nameGroup" class="form-group">
	<label for="view_name" class="col-md-2 control-label">#managerMessage('name')</label>
	<div class="col-md-4">
		<input type="text" id="view_name" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="view_name" id="view_nameError" class="control-label"></label>
	</div>
</div>
