<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="${BASE_PATH}">Wakaba</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Applications <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					#foreach($x in $APP_LIST)
						<li><a href="${USER_BASE_PATH}/$x.appId/manager/view">$x.appName</a></li>
					#end
					<li class="divider"></li>
					<li><a href="${USER_BASE_PATH}/manager/manager/view/app/list">Application list</a>
					<li><a href="${USER_BASE_PATH}/manager/manager/view/app/add">New application</a>
				</ul>
			</li>
		</ul>
		#if(${USER_MODE} != "single")
			<ul class="nav navbar-nav navbar-right">
				<li><a href="${BASE_PATH}/logout">#managerMessage('logout')</a></li>
			</ul>
		#end
	</div>
</nav>
