<ul class="nav navbar-nav navbar-right navbar-user">
	<li class="dropdown user-dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Applications <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			#foreach($x in $APP_LIST)
				<li><a href="${USER_BASE_PATH}/$x.appId/manager/view">$x.appName</a></li>
			#end
			<li class="divider"></li>
			<li><a href="${USER_BASE_PATH}/manager/manager/view/app/list">Application list</a>
			<li><a href="${USER_BASE_PATH}/manager/manager/view/app/add">New application</a>
		</ul>
	</li>
</ul>
